{% extends 'Mainpage/basic.html' %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}
  लिबास ऑफ इंडिया
  {% endblock %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  {% block style %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}
</head>

<body>
  {% block body %}
  {% if messages %}
  <ul class="messages" id="message" style="position: absolute;">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </ul>
  {% endif %}
  <div id="carouselDarkVariant" class="main-crousals carousel slide carousel-fade carousel-dark relative"
    data-bs-ride="carousel">
    <div class="carousel-inner relative w-full overflow-hidden">
      <div class="carousel-item active relative float-left w-full" style=" height: 100vh; width: 100%;">
        <img src="{% static 'images/main1.png' %}" class="block w-full" alt="Motorbike Smoke" />
      </div>

      <div class="carousel-item relative float-left w-full" style=" height: 100vh; width: 100%;">
        <img src="{% static 'images/main2.png' %}" class="block w-full" alt="Mountaintop" />
      </div>

      <div class="carousel-item relative float-left w-full" style=" height: 100vh; width: 100%;">
        <img src="{% static 'images/1.png' %}" class="block w-full" alt="" />
      </div>

    </div>
    <button
      class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
      type="button" data-bs-target="#carouselDarkVariant" data-bs-slide="prev">
      <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
      type="button" data-bs-target="#carouselDarkVariant" data-bs-slide="next">
      <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <h3>Best Seller</h3>
    <div class="content">
      <div class="contain">
        <a href="/men/top/">
          <img src="{% static 'images/ethnic.jpg' %}" alt="">
        </a>
      </div>
      <div class="contain">
        <a href="/women/top/Kurties/">
          <img src="{% static 'images/women.webp' %}" alt="">
        </a>
      </div>
      <div class="contain">
        <a href="/women/accessories/Bags/">
          <img src="{% static 'images/bag.webp' %}" alt="">
        </a>
      </div>
    </div>

    <div class="container" style="margin-top: 30px;">
      <h3>Similar Items You Might Like</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="card mt-4 mb-4">
            <div class="image-css">
              <img
                src="https://images.unsplash.com/photo-1565208565380-02138793c3b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                alt="Image" class="card-img-top">
            </div>
            <div class="card-body">
              <a href="/men/top/" class="my-link">show</a>
              <hr />
              <h2>Casuals</h2>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card mt-4 mb-4">
            <div class="image-css">
              <img
                src="https://images.unsplash.com/photo-1549062572-544a64fb0c56?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                alt="Image" class="card-img-top">
            </div>
            <div class="card-body">
              <a href="/women/top/Shirt/" class="my-link">show</a>
              <hr />
              <h2>Shirts</h2>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card mt-4 mb-4">
            <div class="image-css">
              <img src="{% static 'images/jacket.webp' %}" alt="Image" class="card-img-top">
            </div>
            <div class="card-body">
              <a href="/men/top/Jacket/" class="my-link">show</a>
              <hr />
              <h2>Jackets</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="saree-image">
      <a href="/women/saree/"><img src="{% static 'images/saree.jpeg' %}" alt=""></a>
    </div>

    <div class="main">
      <h4><b>Mens collection</b></h4>
      <div class="cards">
        {% for i in men_product_data %}
        <div class="card">
          <div class="card-img">
            <img style="height: 100%; width: 100%;" src="/media/{{i.product_img}}" alt="">
          </div>
          <div class="card-content">
            <div class="heading">
              <h6>{{i.product_name}}</h6>
              <p>₹ {{i.product_price}}</p>
            </div>
            <a href="/product-detail/{{i.id}}"><button type="button"
                style="margin-right: 10px; font-size: 15px; padding: 10px;" class="btn btn-primary">View</button></a>
            <form action="/cart/" method="post">{% csrf_token %}
              <input type="hidden" value="1" name="qtys" id="">
              <input type="hidden" value="{{i.id}}" name="product_id" id="">
              <button type="submit" class="btn btn-primary" style="font-size: 15px; padding: 10px;">Add to cart</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="main">
      <h4><b>Women collection</b></h4>
      <div class="cards">
        {% for i in women_product_data %}
        <div class="card">
          <div class="card-img">
            <img style="height: 100%; width: 100%;" src="/media/{{i.product_img}}" alt="">
          </div>
          <div class="card-content">
            <div class="heading">
              <h6>{{i.product_name}}</h6>
              <p>₹ {{i.product_price}}</p>
            </div>
            <a href="/product-detail/{{i.id}}"><button type="button"
                style="margin-right: 10px; font-size: 15px; padding: 10px;" class="btn btn-primary">View</button></a>
            <form action="/cart/" method="post">{% csrf_token %}
              <input type="hidden" value="1" name="qtys" id="">
              <input type="hidden" value="{{i.id}}" name="product_id" id="">
              <button type="submit" class="btn btn-primary" style="font-size: 15px; padding: 10px;">Add to cart</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <h2 style="text-align: center; margin-top: 30px;">Our Client says</h2>
    <div class="outerdiv">
      <div class="innerdiv">
        <div class="div1 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img
                src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg"
                alt="">
            </div>
            <div class="detbox">
              <h5 class="name">Naya Acharya</h5>
            </div>
          </div>
          <div class="review">
            <h4>What I appreciate most about these dresses is the versatility. They are perfect for a wide range of
              occasions, for casual brunch to fancy dinners.</h4>
            <p>“ Wow, I am blown away by these new dresses! The attention to detail is incredible, and the quality is
              unmatched. I recently purchased the [specific dress name], and it has quickly become my new favorite
              dress.
              The fabric is so soft and luxurious, and the fit is absolutely perfect. I love the way it hugs my curves
              without feeling too tight or restrictive. ”</p>
          </div>
        </div>
        <div class="div2 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img
                src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg"
                alt="">
            </div>
            <div class="detbox">
              <p class="name">Ishaan Varma</p>
            </div>
          </div>
          <div class="review">
            <h4>The delivery management is too good.</h4>
            <p>“ Dressswala has amazing time management skills. I had a great first experience. ”</p>
          </div>
        </div>
        <div class="div3 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img
                src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg"
                alt="">
            </div>
            <div class="detbox">
              <p class="name dark">Kira Whittle</p>
            </div>
          </div>
          <div class="review dark">
            <h4>Such a life-changing experience. Highly recommended!</h4>
            <p>“ I've worn my traditional dress to a wedding, a cocktail party, and even to work with a blazer over it.
              It's so easy to dress up or down, depending on the occasion. let's talk about the colors and patterns -
              they
              are absolutely stunning. I love how unique and eye-catching each one is. I have my eye on the ethical
              dresses in the gorgeous floral print next!
              Overall, I highly recommend these new dresses to anyone looking for high-quality, versatile, and stunning
              dresses.”
            </p>
          </div>
        </div>
        <div class="div4 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img
                src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jeanette.jpg"
                alt="">
            </div>
            <div class="detbox">
              <p class="name dark">Inaya Ahuja</p>
            </div>
          </div>
          <div class="review dark">
            <h4>An overall wonderful experience</h4>
            <p>“ Overall, I highly recommend these dresses to anyone in the market for some new additions to their
              wardrobe. They are versatile and stylish, making them perfect for a variety of occasions. ”
            </p>
          </div>
        </div>
        <div class="div5 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img
                src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-patrick.jpg"
                alt="">
            </div>
            <div class="detbox">
              <p class="name">Jai Patel</p>
            </div>
          </div>
          <div class="review">
            <h4>I really appreciate about these dresses is the attention to detail in the design. </h4>
            <p>“ I recently rented two new dresses from libass of india, and I have to say, I am in love with both of
              them!
              The first dress is a beautiful floral print with a flattering wrap design that cinches in at the waist.
              The
              fabric is lightweight and perfect for a summer day, but also works well layered with a cardigan for cooler
              weather. The second dress is a sleek and sophisticated midi dress in a classic black color. It hugs my
              curves in all the right places and is incredibly comfortable to wear. ”</p>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
</body>

</html>
{% block script %}
{% endblock %}